<% content_for :title do %>
  Game Master's Companion
<% end %>

  <div class="row equal-height">
    <div class="col-md-6">
      <h2 class="title">Adventure Awaits—</h2>
      <p>Welcome to the Game Master’s Companion. Our goal is to design the perfect location for game masters to be able to navigate and easily access all of the information you need during your PnP role-playing games. We know, pen-and-paper and web app don’t usually go together, but hey, it’s a tech-savvy world out there and sometimes, it’s easier to have everything on your screen than in your notebook.</p>

      <p>Within these digital walls, you’ll discover a campaign manager that allows easy access to all of the player, NPC, and encounter info you need in any given session. Create, maintain, and explore your very own worlds with this customizable GM tool. Track your encounters or check out the Random Encounter Generator for inspiration. Best of all—the Game Master’s Companion is totally free.</p>

      <p>Your very own adventures awaits. Log in or create an account now to start GMing like never before. </p>

    </div>
    <div class="col-md-6 form-backdrop">
      <form class="" action="/" method="post">
        <h2>Log in or <a href="/signup">create a new account</a></h2>

        <div class="form-group">
          <% if flash.has?(:login_error) %>
            <div class="flash-error">
              <%= flash[:login_error] %>
            </div><br>
          <% end %>
          <label for="Email">Email</label>
          <input type="email" class="form-control" name="email" id="email"    placeholder="Email">
        </div>
        <div class="form-group login">
          <label for="Password">Password</label>
          <input type="password" name="password" class="form-control" id="password"    placeholder="Password">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <img src="/img/squid.jpg" class="img-responsive" alt="">
    </div>
  </div>
