<% content_for :title do %>
  Game Master's Companion - New Character
<% end %>
<% content_for :nav_dropdown do %>
  <li class="dropdown">
    <a data-target="#" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"  aria-haspopup="true" aria-expanded="false">Campaigns  <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <% current_user.campaigns.each do |campaign| %>
        <li><a href="/campaigns/<%= campaign.slug %>"><%= campaign.name %></a></li>
        <% end %>
        <li role="separator" class="divider"></li>
        <li><a href="/campaigns/new">New Campaign</a></li>
      </ul>
    </li>
<% end %>

<div class="row form-backdrop">
  <div class="col-md-12"><div class="col-md-12">
    <form class="" action="/<%= @campaign.slug %>/characters/enemy" method="post">
    <h2>Add a new enemy</h2>
      <div class="row">
    <div class="col-md-7">
      <div class="form-group">
        <div class="row">
          <div class="col-md-9">
            <label for="Name">Name</label>
            <input type="text" class="form-control" name="character[name]" id="character_name"    placeholder="Name">
          </div>
          <div class="col-md-3">
            <label for="CR">Creature Rating</label>
            <input type="text" class="form-control" name="character[cr]" id="char_cr"    placeholder="CR">
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-4">
            <label for="AC">Armor Class</label>
            <input type="text" class="form-control" name="character[ac]" id="char_ac"    placeholder="AC">
          </div>
          <div class="col-md-4">
            <label for="HP">Hit Points</label>
            <input type="text" class="form-control" name="character[hp]" id="char_hp"    placeholder="HP">
          </div>
          <div class="col-md-4">
            <label for="pp">Perception</label>
            <input type="text" class="form-control" name="character[passive_perception]" id="char_pp"    placeholder="Passive Perception">
          </div>

        </div> <!-- End of Row -->
      </div>

      <div class="form-group">
        <label for="Stats">Stats</label>
        <input type="text" class="form-control" name="character[stats]" id="character_stats"    placeholder="Stats">
      </div>
      <div class="form-group">
        <label for="Notes">Notes</label>
        <br>
        <textarea name="character[notes]" class="form-control" rows="4" style="min-width: 100%"></textarea>
      </div>

    </div>
    <div class="col-md-5">
      <div class="form-group">

        <div class="row">
          <div class="col-md-4">
            <label for="AC">Attack</label>
            <input type="text" class="form-control" name="attack_1[name]" id="attack_1_name"    placeholder="Name">
          </div>
          <div class="col-md-4">
            <label for="to_hit">To Hit</label>
            <input type="text" class="form-control" name="attack_1[to_hit]" id="attack_1_to_hit"    placeholder="Att. Bonus">
          </div>
          <div class="col-md-4">
            <label for="damage">Damage</label>
            <input type="text" class="form-control" name="attack_1[damage]" id="attack_1_damage"    placeholder="Damage">
          </div>
        </div> <!-- End of Attack Row -->
        <div class="row">
          <div class="col-md-4">
            <label for="AC">Attack</label>
            <input type="text" class="form-control" name="attack_2[name]" id="attack_2_name"    placeholder="Name">
          </div>
          <div class="col-md-4">
            <label for="to_hit">To Hit</label>
            <input type="text" class="form-control" name="attack_2[to_hit]" id="attack_2_to_hit"    placeholder="Att. Bonus">
          </div>
          <div class="col-md-4">
            <label for="damage">Damage</label>
            <input type="text" class="form-control" name="attack_2[damage]" id="attack_2_damage"    placeholder="Damage">
          </div>

        </div> <!-- End of Attack Row -->
        <div class="row">
          <div class="col-md-4">
            <label for="AC">Attack</label>
            <input type="text" class="form-control" name="attack_3[name]" id="attack_3_name"    placeholder="Name">
          </div>
          <div class="col-md-4">
            <label for="to_hit">To Hit</label>
            <input type="text" class="form-control" name="attack_3[to_hit]" id="attack_3_to_hit"    placeholder="Att. Bonus">
          </div>
          <div class="col-md-4">
            <label for="damage">Damage</label>
            <input type="text" class="form-control" name="attack_3[damage]" id="attack_3_damage"    placeholder="Damage">
          </div>

        </div> <!-- End of Attack Row -->
        <div class="row">
          <div class="col-md-4">
            <label for="AC">Attack</label>
            <input type="text" class="form-control" name="attack_4[name]" id="attack_4_name"    placeholder="Name">
          </div>
          <div class="col-md-4">
            <label for="to_hit">To Hit</label>
            <input type="text" class="form-control" name="attack_4[to_hit]" id="attack_4_to_hit"    placeholder="Att. Bonus">
          </div>
          <div class="col-md-4">
            <label for="damage">Damage</label>
            <input type="text" class="form-control" name="attack_4[damage]" id="attack_4_damage"    placeholder="Damage">
          </div>

        </div> <!-- End of Attack Row -->
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
    <div class="col-md-2 col-md-offset-6">
      <p><a href="/campaigns/<%= @campaign.slug %>">Cancel</a></p>
    </div>
  </div>
</form></div>
</div>
